<!--<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="heading">
    <h1>UNEEKLI</h1>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">

    <div class="menu">
      <i class="fa fa-arrow-left"></i>
      <h3>Main Menu</h3>
      <div class="cross">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <hr style="margin-top: 5px;color:black;">
    <div class="filter-result">
      <h1 style="padding-left: 10px; font-size: 18px; font-weight: 500;">Filter Results</h1>
    </div>
    <div class="filter-row">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <span><input type="text" placeholder="All"></span>


      <div>
        <i class="fa fa-tag" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Price"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Price"></span>
      </div>
      <div>
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Rating Number"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Rating Number"></span>
      </div>
      <div>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Rank"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Rank"></span>
      </div>
      <div>
        <i class="fa fa-usd" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Sales"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Sales"></span>
      </div>
      <div>
        <i class="fa fa-usd" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Revenue"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Revenue"></span>
      </div>
      <div>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Rating"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Rating"></span>
      </div>
      <div>
        <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Weight"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Weight"></span>
      </div>
      <div>
        <i class="fa fa-users" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Sellers"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Sellers"></span>
      </div>
      <div>
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Net"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Net"></span>
      </div>
      <div>
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest LQS"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest LQS"></span>
      </div>
    </div>
    <div class="button-col">

      <button class="btn btn-primary" style="
      color: black;
       background-color: white; border: 1px solid black; ">Reset</button>


      <button class="btn btn-primary" style="
      color: white;
      background-color: #ff0066; float: right;  ">Apply</button>


    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <section id="about">
      <div class="container">


        <div class="search-box">
          <form>
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search" />
            <button type="submit"><i class="fa fa-microphone"></i></button>
          </form>
        </div>

        <div class="Departments">
          <h1> Try Performing a Search</h1>
          <br>
          <p>1.Click on the search bar above</p>
          <br>
          <p>2.Enter a product idea</p>
          <br>

          <p>3. Click on the icon to view the listing information</p>



        </div>

      </div>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>-->
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <div class="menu">
      <i class="fa fa-arrow-left" style="left: 9px;
      top: 26px; position:absolute;"></i>
      <h3 style="font-family: poppins;left: 57px;
      top: 8px; position: absolute;">Main Menu</h3>
      <div class="cross">
        <button (click)="opened=!opened"
          style="left: 377px; background-color:white; border: white; position: absolute; top: 28px; font-size: 25px; color: #003167; ">
          <i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
    <hr style="position: absolute;
    width: 420px;
    height: 0px;
    left: 0px;
    top: 45px;
    
    border: 1px solid #AEAEAE;">
    <div class="filter-result">
      <h1 style="padding-left: 10px; font-size: 16px; font-weight: 600;left: 24px;
      top: 70px; position: absolute; font-family: poppins;">Filter Results</h1>
    </div>
    <div class="filter-row">
      <div>
        <img src="assets/all.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 18px;
        top: 114px;
        ">
        <span><input type="text" placeholder="All" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 110px;
          
          background: #FFFFFF;
          border: 1px solid #444444;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/price.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 26.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Price" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 162px;
          color: #AEAEAE;
 ;
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 170px;
        ">
        <span><input type="text" placeholder="Higest Price" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 162px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/rating.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 34.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Rating Number" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 212px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 218px;
        ">
        <span><input type="text" placeholder="Highest Rating Number" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 212px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/rank.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 41.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Rank" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 262px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 270px;
        ">
        <span><input type="text" placeholder="Highest Rank" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 262px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/sales.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 48.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Sales" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 310px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 316px;
        ">
        <span><input type="text" placeholder="Highest Sales" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 310px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/revenue.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 56.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Revenue" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 360px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 366px;
        ">
        <span><input type="text" placeholder="Highest Revenue" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 360px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/lowestrate.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 63.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Rating" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 410px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 414px;
        ">
        <span><input type="text" placeholder="Highest Rating" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 410px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/weight.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 71.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Weight" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 460px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 464px;
        ">
        <span><input type="text" placeholder="Highest Weight" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 460px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/sellers.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 79.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Sellers" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 510px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 514px;
        ">
        <span><input type="text" placeholder="Highest Sellers" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 510px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>
        <img src="assets/net.png" style="position: absolute;
        left: 3.67%;
        right: 96.46%;
        top: 86.97%;
        bottom: 75.39%;
        width: 24px;
        height: 24px;
        ">
        <span><input type="text" placeholder="Lowest Net" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 560px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 566px;
        ">
        <span><input type="text" placeholder="Highest Net" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 560px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <div>

        <span><input type="text" placeholder="Lowest LQS" style="box-sizing: border-box;

          position: absolute;
          width: 155px;
          height: 40px;
          left: 50px;
          top: 610px;
          
          background: #FFFFFF;
          border: 1px solid #003167;
          border-radius: 5px;"></span>
        <img src="assets/arrow.png" style="position: absolute;
        width: 24px;
        height: 24px;
        left: 210px;
        top: 614px;
        ">
        <span><input type="text" placeholder="Highest LQS" style="box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 240px;
  top: 610px;
  
  background: #FFFFFF;
  border: 1px solid #003167;
  border-radius: 5px;"></span>
      </div>
      <!--<div>
        <i class="fa fa-tag" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Price"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Price"></span>
      </div>
      <div>
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Rating Number"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Rating Number"></span>
      </div>
      <div>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Rank"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Rank"></span>
      </div>
      <div>
        <i class="fa fa-usd" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Sales"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Sales"></span>
      </div>
      <div>
        <i class="fa fa-usd" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Revenue"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Revenue"></span>
      </div>
      <div>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Rating"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Rating"></span>
      </div>
      <div>
        <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Weight"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Weight"></span>
      </div>
      <div>
        <i class="fa fa-users" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Sellers"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Sellers"></span>
      </div>
      <div>
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest Net"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest Net"></span>
      </div>
      <div>
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <span><input type="text" placeholder="Lowest LQS"></span>
        <i class="fa fa-arrow-right" aria-hidden="true" style="color:lightgray;"></i>
        <span><input type="text" placeholder="Highest LQS"></span>
      </div>-->
    </div>
    <div class="button-col">

      <button class="btn btn-primary" style="
      color: black;
       background-color: white; border: 1px solid black;
border-radius: 10px;  left: 40px;
    top: 667px;
    position: absolute;
">Reset</button>


      <button class="btn btn-primary" style="
      color: white;
      background: #0076FF;
border-radius: 10px;  left: 240px;
top: 667px; position: absolute; ">Apply</button>


    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #003167; width: 100%;">
      <button (click)=" opened=!opened"
        style="color: white; background-color: #003167 ; border: #003167; font-family: poppins;"> <i class="fa fa-bars"
          aria-hidden="true"></i>
        Menu
      </button>
      <img src="assets/icon.png" style="padding-left: 40% ; height:55px;  ">
      <i class="fa-solid fa-arrow-rotate-right"
        style="padding-left:43% ; margin:1%; font-size: 25px; color: white;"></i>
      <i class="fa-solid fa-xmark" style="font-size: 30px; color:white;"></i>
    </mat-toolbar>

    <section id="about">
      <div class="container">


        <div class="search-box">
          <form>
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search" style="color:#0076FF ;">
            <button type="submit"><i class="fa fa-microphone"></i></button>
          </form>
        </div>

        <div class="Departments">
          <h1> Try Performing a Search</h1>
          <br>
          <p>1.Click on the search bar above</p>
          <br>
          <p>2.Enter a product idea</p>
          <br>

          <p>3. Click on the icon to view the listing information</p>



        </div>

      </div>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>